<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/application.css">
    <title>VBaker Dev - Web Developer, Ruby-on-Rails Enthusiast!</title>
  </head>
  <body>
    <header id="main_navigation" class="clearfix">
      <a href="#" class="name">VBaker Development</a>
      <nav>
        <a href="#">Articles</a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
      </nav>
    </header>
  </body>
</html>

