<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
      <link rel="_appearance.scss" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.css"/>
      <script src ="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/application.css">
    <title>VBaker Dev - Web Developer, Ruby-on-Rails Enthusiast!</title>
  </head>
  <body>
    
    <header id="main_navigation" class="clearfix">
      <a href="#" class="name">VBaker Development</a>
      <nav>
        <a href="#">Articles</a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
      </nav>
    </header>
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
              
                <h1 class="header center teal-text text-lighten-2"><font family="Raleway" color="white"><strong><b>V B A K E R Development</b></strong></font></h1>
                <div class="row center">
                  <h3 class="header col s12 light"><font family="Raleway" color="Yellow"><strong></strong></font></h3>
                </div>
                <div class="row center">
                  <a href="http://localhost:3000/stories" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Check Out My Portfolio</a>
                </div>
                <div class="row center">
                <h3 class="header col s12 light"><font family="Raleway" color="Yellow"><strong>Web Developer, Ruby-on-Rails Enthusiast</strong></font></h3>
                </div>

        </div>
      </div>


      <div class="parallax"><img src="https://cbe.osu.edu/sites/cbe.osu.edu/files/media/legacy/columbus.jpg" alt="http://i.ytimg.com/vi/PMpBvbA-XmU/maxresdefault.jpg">
      </div>
    </div>
 

      <div class="wrapper clearfix">
        <div class="col-1 homepage_content"><font-family="Raleway" color="Black">
          <h2>About</h2>
          <hr>
          <p>I'm a web developer, living in Columbus, Ohio. My primary focus is working with Ruby-on-Rails Application Framework Development.</p>
          <p>I graduated from The Ohio State University, with a Bachelor of Arts Degree in Economics, and a Bachelor of Arts Degree in International Studies, specialization in East Asia. I am a recent graduate of DevPoint Labs, computer programming bootcamp, Fall 2015 Cohort.</p>
          <p>I am candidate for the CFA Level One Exam.</p>
          <p>You can find my latest work on Github.</p>
        </div>
        <div class="col-2 homepage_content">
          <h2>Description of the Apps I've Created &amp; Projects I've Worked On</h2>
          <hr>
        </div>
        <div class="col-3 homepage_content">
        </div>
      </div>
    </div>

  </body>
</html>

