/*!
 * Materialize v0.97.1 (http://materializecss.com)
 * Copyright 2014-2015 Materialize
 * MIT License (https://raw.githubusercontent.com/Dogfalo/materialize/master/LICENSE)
 */
 @import "materialize";
body{font-family:'Raleway', sans-serif}.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}#main_navigation{padding:2.5em 5%;border-bottom:1px solid #E9E9E9}#main_navigation .name{font-weight:700;font-size:.8em;letter-spacing:4px;text-transform:uppercase;border:2px solid #E9E9E9;padding:1rem;text-decoration:none;color:#424652;float:left}#main_navigation nav{float:right;padding:1.5rem}#main_navigation nav a{color:#424652;text-decoration:none;margin:0 1rem;font-size:1rem}
$dark:#424652;
$light:#9a9da4;
$highlight:#8bc6db;
$border:#E9E9E9;

body {
  font-family: 'Raleway', sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

#main_navigation {
  padding: 2.5em 5%;
  border-bottom: 1px solid $border;
  .name {
          font-weight: 700;
          font-size: .8em;
          letter-spacing: 4px;
          text-transform: uppercase;
          border: 2px solid $border;
          padding: 1rem;
          text-decoration: none;
          color: $dark;
          float: left;
  }
  nav {
          float: right;
          padding: 1.5rem;
          a {
            color: $dark;
            text-decoration: none;
            margin: 0 1rem;
            font-size: 1rem;
          }
  }
}