/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

$dark:#424652;
$light:#9a9da4;
$highlight:#8bc6db;
$border:#E9E9E9;

body {
  font-family: 'Raleway', sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

#main_navigation {
  padding: 2.5em 5%;
  border-bottom: 1px solid $border;
  .name {
          font-weight: 700;
          font-size: .8em;
          letter-spacing: 4px;
          text-transform: uppercase;
          border: 2px solid $border;
          padding: 1rem;
          text-decoration: none;
          color: $dark;
          float: left;
  }
  nav {
          float: right;
          padding: 1.5rem;
          a {
            color: $dark;
            text-decoration: none;
            margin: 0 1rem;
            font-size: 1rem;
          }
  }
}